* {
    box-sizing: border-box;
}
.container {
    border: 2px solid red;
    padding: 24px 24px 0 24px;
    display: flex;
    justify-content: space-between;
}

.box {
    border: 2px solid black;
    margin-bottom: 24px;
}

.box-wrapper{
    width: 45%;
}

.box-small{
    height: 50px;
}

.box-large{
    width: 45%;
}

